API_PORT=0000
DATABASE_URL="postgresql://postgres:password@localhost:0000/database_name?schema=public"

JWT_ACCESS_SECRET="verysecretaccesskey"
JWT_ACCESS_EXPIRES="1h"
JWT_REFRESH_SECRET="verysecretrefreshkey"
JWT_REFRESH_EXPIRES="7d"